.theme-dark {
    --background-primary: #0d0b1a;
    --background-primary-alt: #090812;
    --background-secondary: #090812;     /* Sidebar */
    --background-secondary-alt: #05050a;
    --text-normal: #d4af37;
    --text-muted: #8a7b5e;
    --text-accent: #ffcc00;
    --nav-item-color: #8a7b5e;
    --nav-item-color-hover: #d4af37;
    --nav-item-color-active: #ffcc00;
}
.view-content, .nav-files-container, .side-dock-container {
    --font-text: 'Courier New', monospace;
    --font-ui: 'Georgia', serif;        /* Interface com ar esotérico */
}
h1, h2, h3, h4, .nav-folder-title {
    font-family: 'Georgia', serif !important;
    text-shadow: 0 0 10px rgba(212, 175, 55, 0.3);
}
