.theme-dark {
    --background-primary: #0a1128;
    --background-secondary: #050a1a;    /* Sidebar */
    --text-normal: #cfd8dc;
    --nav-item-color: #78909c;
}
.view-content, .nav-files-container {
    --font-text: 'JetBrains Mono', monospace;
    --font-interface: 'JetBrains Mono', monospace;
}
