.theme-dark, .theme-light {
    --background-primary: #f4ecd8;
    --background-secondary: #e8dfc4;    /* Sidebar */
    --text-normal: #433422;
    --nav-item-color: #8c7b66;
}
.view-content, .nav-files-container {
    --font-text: 'Baskerville', serif;
    --font-interface: 'Baskerville', serif;
}
