.theme-dark {
    --background-primary: #000000;
    --background-secondary: #050505;    /* Sidebar */
    --text-normal: #00ff41;
    --nav-item-color: #008f11;
}
.view-content, .nav-files-container {
    --font-text: 'Courier New', monospace;
    --font-interface: 'Courier New', monospace;
}
