.theme-dark {
    --background-primary: #121212;
    --background-secondary: #0a0a0a;    /* Sidebar */
    --text-normal: #f5f5f5;
    --nav-item-color: #808080;
}
.view-content, .nav-files-container {
    --font-text: 'Charter', serif;
    --font-interface: 'Charter', serif;
}
